{% extends 'base.html' %}

{% block title %} Сигналы с 30м. Статистика и данные. {% endblock %}

{% block content %}

<section class="content">
	<section class="signals">
	{% if signals|length > 0 %}
		<h2>Сигналы с 30м. Статистика и общая информация.</h1>
		{% if last_signal %}
			<section class="last_signal_info">
				<section class="signal_analitycs">
					<h3>Sygnal analitycs:</h3>
					<h4 class="signal">Signal: {% if last_signal.signal == 'short' %} Сигнал в ШОРТ {% else %} Сигнал в ЛОНГ {% endif %}</h4>
					<h4 class="balance">Balance: {% if last_signal.balance > last_signal.price %} Цена под балансом (ШОРТ в приоритете) {% else %} Цена над балансом (ЛОНГ в приоритете) {% endif %}</h4>
				</section>

				<h3>Last signal info:</h2>
				<table>
					<tr>
						<th>TYPE</th>
						<th>SIGNAL</th>
						<th>PRICE</th>
						<th>BALANCE</th>
						<th>LOW</th>
						<th>HIGHT</th>
						<th>DATE</th>
					</tr>
					<tr>
						<td>last_signal.type</td>
						<td>last_signal.signal</td>
						<td>last_signal.price</td>
						<td>last_signal.balance</td>
						<td>last_signal.price_low</td>
						<td>last_signal.price_hight</td>
						<td>last_signal.date|date:'Y-m-d H:i'</td>
					</tr>
				</table>
			</section>
		{% else %}
			<section class="error">
				<h1>ERROR</h1>
				<h3>Не могу загрузить данные из DB.</h3>
			</section>
		{% endif %}

		<section class="signals_info">
			<table>
				<tr>
					<th>TYPE</th>
					<th>SIGNAL</th>
					<th>PRICE</th>
					<th>BALANCE</th>
					<th>LOW</th>
					<th>HIGHT</th>
					<th>DATE</th>
				</tr>
				{% for signal in signals %}
				<tr>
					<td>signal.type</td>
					<td>signal.signal</td>
					<td>signal.price</td>
					<td>signal.balance</td>
					<td>signal.price_low</td>
					<td>signal.price_hight</td>
					<td>signal.date|date:'Y-m-d H:i'</td>
				</tr>
				{% endfor %}
			</table>
		</section>
	{% else %}
		<section class="error">
			<h1>ERROR</h1>
			<h3>Нет сигналов. Подожди сигнала с 30м из TradingView.</h3>
		</section>
	{% endif %}
	</section>
</section>

{% endblock %}

{% block js_includes %}{% endblock %}