{% extends 'base.html' %}

{% block title %} Аналитика мульти-таймфрейма по сигналам. {% endblock %}

{% block content %}

<section class="content">
	<section class="signals">
	{% if signal5m and signal15m and signal30m and signal1h %}
		<h2>Аналитика мульти-таймфрейма по сигналам.</h1>
		<br>
		{% if signal5m and signal15m and signal30m and signal1h %}
			<section class="last_signal_info">
				<section class="signal_analitycs">
					<h2>Аналитика:</h2>

					<table class="invisible_borders">
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<td class="first"> Неделя: </td>
							<td> %%% </td>
							<td> %%% </td>
							<td> ХХ:ХХ </td>
							<td> хх.хх.хххх </td>
						</tr>
						<tr>
							<td class="first"> Глобальное направление трейда (12Ч): </td>
							<td> %%% </td>
							<td> %%% </td>
							<td> ХХ:ХХ </td>
							<td> хх.хх.хххх </td>
						</tr>
						<tr style="height: 1rem">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> 1Ч Фильтр: </td>
							<td> %%% </td>
							<td> %%% </td>
							<td> ХХ:ХХ </td>
							<td> хх.хх.хххх </td>
						</tr>
						<tr style="height: 1rem">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first">Внутридневное направление трейда (1Ч):</td>
							{%if signal1h.signal == 'short'%}<td class="bg_red">ШОРТ</td>{%else%}<td class="bg_green">ЛОНГ</td>{%endif%}
							{% if signal1h.signal == 'short' and signal1h.balance > signal1h.price %}<td class="bg_red">Cистемный</td>{% elif signal1h.signal == 'long' and signal1h.balance <= signal1h.price %}<td class="bg_green">Системный</td>{% else %}<td>Не системный.</td>{% endif %} </td>
							<td>{{signal1h.date.strftime('%H:%M')}}</td>
							<td>{{signal1h.date.strftime('%Y-%m-%d')}}</td>
						</tr>
						<tr style="height: 1rem">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Последний сигнал 30м: </td>
							{%if signal30m.signal == 'short'%}<td class="bg_red">ШОРТ</td>{%else%}<td class="bg_green">ЛОНГ</td>{%endif%}
							{% if signal30m.signal == 'short' and signal30m.balance > signal30m.price %}<td class="bg_red">Cистемный</td>{% elif signal30m.signal == 'long' and signal30m.balance <= signal30m.price %}<td class="bg_green">Системный</td>{% else %}<td>Не системный.</td>{% endif %}
							<td>{{signal30m.date.strftime('%H:%M')}}</td>
							<td>{{signal30m.date.strftime('%Y-%m-%d')}}</td>
						</tr>
						<tr>
							<td class="first"> Последний сигнал 15м: </td>
							{%if signal15m.signal == 'short'%}<td class="bg_red">ШОРТ</td>{%else%}<td class="bg_green">ЛОНГ</td>{%endif%}
							{% if signal15m.signal == 'short' and signal15m.balance > signal15m.price %}<td class="bg_red">Cистемный</td>{% elif signal15m.signal == 'long' and signal15m.balance <= signal15m.price %}<td class="bg_green">Системный</td>{% else %}<td>Не системный.</td>{% endif %}
							<td>{{signal15m.date.strftime('%H:%M')}}</td>
							<td>{{signal15m.date.strftime('%Y-%m-%d')}}</td>
						</tr>
						<tr style="height: 1rem">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Последний сигнал 5м: </td>
							{%if signal5m.signal == 'short'%}<td class="bg_red">ШОРТ</td>{%else%}<td class="bg_red">ЛОНГ</td>{%endif%}
							{% if signal5m.signal == 'short' and signal5m.balance > signal5m.price %}<td class="bg_red">Cистемный</td>{% elif signal5m.signal == 'long' and signal5m.balance <= signal5m.price %}<td class="bg_green">Системный</td>{% else %}<td>Не системный.</td>{% endif %}
							<td>{{signal5m.date.strftime('%H:%M')}}</td>
							<td>{{signal5m.date.strftime('%Y-%m-%d')}}</td>
						</tr>
					</table>
				</section>

				<br><br>
				<h3>Аналитика мульти-таймфрейма:</h2>
				<table>
					<tr>
						<th></th>
						<th>5М</th>
						<th>15М</th>
						<th>30М</th>
						<th>1Ч</th>
					</tr>
					<tr>
						<td>Цена</td>
						<td>{{signal5m.price}}</td>
						<td>{{signal15m.price}}</td>
						<td>{{signal30m.price}}</td>
						<td>{{signal1h.price}}</td>
					</tr>
					<tr>
						<td>Баланс</td>
						<td class="{% if signal5m.balance > signal5m.price %}bg_red{% else %}bg_green{% endif %}">{{signal5m.balance|round(2)}}</td>
						<td class="{% if signal15m.balance > signal15m.price %}bg_red{% else %}bg_green{% endif %}">{{signal15m.balance|round(2)}}</td>
						<td class="{% if signal30m.balance > signal30m.price %}bg_red{% else %}bg_green{% endif %}">{{signal30m.balance|round(2)}}</td>
						<td class="{% if signal1h.balance > signal1h.price %}bg_red{% else %}bg_green{% endif %}">{{signal1h.balance|round(2)}}</td>
					</tr>
					<tr>
						<td>Сигнал</td>
						<td class="{% if signal5m.signal == 'short' %}bg_red{% else %}bg_green{% endif %}">{{signal5m.signal}}</td>
						<td class="{% if signal15m.signal == 'short' %}bg_red{% else %}bg_green{% endif %}">{{signal15m.signal}}</td>
						<td class="{% if signal30m.signal == 'short' %}bg_red{% else %}bg_green{% endif %}">{{signal30m.signal}}</td>
						<td class="{% if signal1h.signal == 'short' %}bg_red{% else %}bg_green{% endif %}">{{signal1h.signal}}</td>
					</tr>
					<tr>
						<td>Вывод</td>
						{% if signal5m.signal == 'short' and signal5m.balance > signal5m.price %}<td class="bg_red">SHORT</td>{% elif signal5m.signal == 'long' and signal5m.balance <= signal5m.price %}<td class="bg_green">LONG</td>{% else %}<td>Не системный.</td>{% endif %}
						{% if signal15m.signal == 'short' and signal15m.balance > signal15m.price %}<td class="bg_red">SHORT</td>{% elif signal15m.signal == 'long' and signal15m.balance <= signal15m.price %}<td class="bg_green">LONG</td>{% else %}<td>Не системный.</td>{% endif %}
						{% if signal30m.signal == 'short' and signal30m.balance > signal30m.price %}<td class="bg_red">SHORT</td>{% elif signal30m.signal == 'long' and signal30m.balance <= signal30m.price %}<td class="bg_green">LONG</td>{% else %}<td>Не системный.</td>{% endif %}
						{% if signal1h.signal == 'short' and signal1h.balance > signal1h.price %}<td class="bg_red">SHORT</td>{% elif signal1h.signal == 'long' and signal1h.balance <= signal1h.price %}<td class="bg_green">LONG</td>{% else %}<td>Не системный.</td>{% endif %}
					</tr>
				</table>
			</section>
		{% else %}
			<section class="error">
				<h1>ERROR</h1>
				<h3>Не могу загрузить данные из DB.</h3>
			</section>
		{% endif %}

	{% else %}
		<section class="error">
			<h1>ERROR</h1>
			<h3>Нет сигналов. Подожди сигнала с 1Ч из TradingView.</h3>
		</section>
	{% endif %}
	</section>
</section>

{% endblock %}

{% block js_includes %}{% endblock %}