{% extends 'base.html' %}

{% block title %} Статистика торговли по индикатору согласно ТС. {% endblock %}

{% block content %}

<section class="content">
	<section class="signals">
		<h2>Статистика эффективности торговли по индикатору PRO-Trading Trend Indicator v8 согласно ТС (Торговой стратегии).</h2>
		<br><hr>
		<section class="trading-strategy_info">
			<h3>Описание торговой стратегии:</h3>
			<p>
				Торговая стратегия рассчитана на торговлю внутри дня согласно поступающим сигналам в лонг или шорт с торгового индикатора <b>PRO-Trading Trend Indicator v8</b>. <br>
				<b>Баланс</b> определяет системность сигналов. Тоесть, если цена находится <b>над линией баланса</b> (тоесть цена>=баланс) - в <b>приоритете</b> сигналы в лонг, а сигналы в шорт - <b>игнорируются</b>. Для случаев когда цена находится <b>под линией баланса</b> (тоесть цена<баланс) - в <b>приоритете</b> сигналы в шорт, а сигналы в лонг будут <b>игнорироваться</b>. <br>
				Алгоритм берёт во внимание два основных <b>ТФ (Тайм фрейма)</b> - <b>1 час</b> и <b>5 минут</b>. <b>1Ч</b> - задаёт глобальное направление торговли, а <b>5м</b> - определяет точку входа в сделку. <br>
				<b>Если 1Ч в лонге</b> - в приоритете будут сигналы с <b>5м в лонг</b>, тоесть сигналы в лонг - будут расценены как <b>вход</b> в сделку, а в шорт - соответственно <b>выход</b> из неё. <br>
				<b>Если 1Ч в шорте</b> - в приоритете будут сигналы с <b>5м в шор</b>т, тоесть сигналы в шорт - будут расценены как <b>вход</b> в сделку, а в лонг - соответственно <b>выход</b> из неё. <br><br>

				В результате мы получаем следующий рассчёт статистики: Основным фактором является линия баланса, если сигналы не соответствуют положению линии баланса - они игнорируются и мы не входим в сделку. Вторым фактором является 1Ч сигнал - он служит направлением торговли, если 1Ч сигнализирует о лонговом движении и цена находится над линией баланса (тоесть соответствует первому фактору) - в приоритете будут сигналы в лонг. Третим фактором является 5м сигнал - он служит точкой входа в сделку, если 1Ч сигнализирует о лонговом движении - сигналы в лонг с 5м будут расценены как вход в сделку, а сигналы в шорт - как выход из неё (тоесть закрытие). <br><br>

				Статистика учитывает <b>"теоретический"</b> заработок на <b>"идеальном"</b> входе по сигналам согласно ТС. Размер позиции на каждую сделку исчисляется в <b>10$ или 10% от депозита</b>, а торговое плечо - <b>x10</b>. Статистика учитывает начальный размер депозита и размер депозита после всех проведённых <b>"теоретических сделок"</b>. Статистика ведёт подсчёт прибыльных и убыточных сделок для определения % успешности стратегии.
			</p>
		</section>

		<br><hr><br>

		<section class="statictics">
			<h3>Статистика теоретической торговли:</h3>
			<br>
				<table class="invisible_borders">
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						{% if deposit_info %}
						<tr>
							<td>Информация о депозите</td>
						</tr>
						<tr>
							<td class="first"> Начальный депозит: </td>
							<td> {{deposit_info.deposit_start}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Торговое плечо: </td>
							<td> x{{deposit_info.trading_multiple}} </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr style="height: 1rem">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Депозит на данный момент: </td>
							<td> {{deposit_info.deposit_current}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Прибыль: </td>
							<td> {{deposit_info.profit}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Прибыль в процентах: </td>
							<td> {{deposit_info.profit_percentage}} %</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% else %}
						<tr>
							<td class="first"> ОШИБКА. Не могу загрузить данные портфеля </td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% endif %}
						<tr><td><hr></td></tr>
						<tr style="height: 1rem">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% if statistics_info %}
						<tr>
							<td>Статистика сделок</td>
						</tr>
						<tr>
							<td class="first"> Общее количество сделок: </td>
							<td> {{statistics_info.count_trades}} </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Прибыльные сделки: </td>
							<td> {{statistics_info.count_profit_trades}} </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Убыточные сделки: </td>
							<td> {{statistics_info.count_lost_trades}} </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Процент прибыльных сделок: </td>
							<td> {{statistics_info.percent_profit_trades}} % </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% else %}
						<tr>
							<td class="first"> ОШИБКА. Не могу загрузить данные сделок: </td>
							<td> %%% </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% endif %}
						<tr><td><hr></td></tr>
						<tr style="height: 1rem">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% if current_position %}
						<tr>
							<td>Информация о настроящей открытой сделке</td>
						</tr>
						<tr>
							<td class="first"> Направление торговли в данный момент (1Ч): </td>
							{% if current_position.direction == 'short' %}<td class="bg_red">ШОРТ</td>{% elif current_position.direction == 'short' %}<td class="bg_green">ЛОНГ</td>{% else %}<td>Сделка не открыта</td>{% endif %}
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Депозит сделки: </td>
							<td> {{current_position.deposit}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Депозит сделки с учётом торгового плеча: </td>
							<td> {{current_position.deposit_with_multiple}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Количество купленных монет: </td>
							<td> {{current_position.amount}} </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Цена входа: </td>
							<td> {{current_position.enter_price}} $</td>
							<td></td>
							<td>{{current_position.date.strftime('%H:%M')}}</td>
							<td>{{current_position.date.strftime('%Y-%m-%d')}}</td>
						</tr>

						<tr style="height: 1rem">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% else %}
						<tr>
							<td class="first"> ОШИБКА. Не могу загрузить данные открытой позиции: </td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% endif %}
						<tr><td><hr></td></tr>
						<tr style="height: 1rem">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% if last_position %}
						<tr>
							<td>Информация о прошлой закрытой сделке</td>
						</tr>
						<tr>
							<td class="first"> Направление сделки: </td>
							{% if last_position.direction == 'short' %}<td class="bg_red">ШОРТ</td>{% elif last_position.direction == 'short' %}<td class="bg_green">ЛОНГ</td>{% else %}<td>Сделка не открыта</td>{% endif %}
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Цена входа: </td>
							<td> {{last_position.enter_price}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Цена выхода: </td>
							<td> {{last_position.exit_price}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Депозит: </td>
							<td> {{last_position.deposit}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Профит: </td>
							<td>{{last_position.profit}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Прибыль: </td>
							<td> {{last_position.earnings}} $</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="first"> Прибыль в процентах: </td>
							<td> {{last_position.earnings_percentage}} %</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% else %}
						<tr>
							<td class="first">Ошибка. Не могу загрузить данные последней закрытой сделки</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% endif %}
						<tr><td><hr></td></tr>
					</table>	
					<br>
			<h3>Сигнал для входа:</h3>
			{% if enter_signal %}
			<table>
				<tr>
					<th>ТИП</th>
					<th>СИГНАЛ</th>
					<th>ЦЕНА</th>
					<th>БАЛАНС</th>
					<th>МИН</th>
					<th>МАКС</th>
					<th>ДАТА</th>
				</tr>
				<tr>
					<td>{{enter_signal.type}}</td>
					{% if enter_signal.signal == 'short' and enter_signal.balance > enter_signal.price %}<td class="bg_red">SHORT</td>{% elif enter_signal.signal == 'long' and enter_signal.balance <= enter_signal.price %}<td class="bg_green">LONG</td>{% else %}<td>Не системный.</td>{% endif %}
					<td>{{enter_signal.price}}</td>
					{% if enter_signal.signal == 'short' and enter_signal.balance > enter_signal.price %}<td class="bg_red">{{enter_signal.balance}}</td>{% elif enter_signal.signal == 'long' and enter_signal.balance <= enter_signal.price %}<td class="bg_green">{{enter_signal.balance}}</td>{% else %}<td>{{enter_signal.balance}}</td>{% endif %}
					<td>{{enter_signal.price_low}}</td>
					<td>{{enter_signal.price_hight}}</td>
					<td>{{enter_signal.date.strftime('%H:%M | %Y-%m-%d')}}</td>
				</tr>
			</table>
			{% else %}
			Не могу загрузить данные сигнала для входа
			{% endif %}
			<br><hr><br>

			<section class="signals_info">
			<h3>Список всех закрытых позиций:</h3>
			{% if closed_position_list|length > 0 %}
			<table>
				<tr>
					<th>СИГНАЛ</th>
					<th>ДЕПОЗИТ</th>
					<th>ЦЕНА ВХОДА</th>
					<th>ЦЕНА ВЫХОДА</th>
					<th>ПРИБЫЛЬ</th>
					<th>ПРИБЫЛЬ в %</th>
					<th>ДАТА</th>
				</tr>
				{% for position in closed_position_list %}
					<tr>
						<td>{{position.direction}}</td>
						<td>{{position.deposit}}</td>
						<td>{{position.enter_price}}</td>
						<td>{{position.exit_price}}</td>
						<td>{{position.earnings}}</td>
						<td>{{position.earnings_percentage}}</td>
						<td>{{position.date.strftime('%H:%M | %Y-%m-%d')}}</td>
					</tr>
				{% endfor %}
			</table>
			{% else %}
			У вас нет ни одной закрытой позиции. Подождите пока система не закроет хотя бы одну позицию
			{% endif %}
		</section>
		</section>
	</section>
</section>
<br><hr><br><br>
{% endblock %}

{% block js_includes %}{% endblock %}