{% extends 'base.html' %}

{% block title %} Статистика торговли по индикатору согласно ТС. {% endblock %}

{% block content %}

<section class="content">
	<section class="signals">
		<h2>Статистика эффективности торговли по индикатору PRO-Trading Trend Indicator v8 согласно ТС (Торговой стратегии).</h2>
		<br><hr>
		<section class="trading-strategy_info">
			<h3>Описание торговой стратегии:</h3>
			<p>
				Торговая стратегия рассчитана на торговлю внутри дня согласно поступающим сигналам в лонг или шорт с торгового индикатора <b>PRO-Trading Trend Indicator v8</b>. <br>
				<b>Баланс</b> определяет системность сигналов. Тоесть, если цена находится <b>над линией баланса</b> (тоесть цена>=баланс) - в <b>приоритете</b> сигналы в лонг, а сигналы в шорт - <b>игнорируются</b>. Для случаев когда цена находится <b>под линией баланса</b> (тоесть цена<баланс) - в <b>приоритете</b> сигналы в шорт, а сигналы в лонг будут <b>игнорироваться</b>. <br>
				Алгоритм берёт во внимание два основных <b>ТФ (Тайм фрейма)</b> - <b>1 час</b> и <b>5 минут</b>. <b>1Ч</b> - задаёт глобальное направление торговли, а <b>5м</b> - определяет точку входа в сделку. <br>
				<b>Если 1Ч в лонге</b> - в приоритете будут сигналы с <b>5м в лонг</b>, тоесть сигналы в лонг - будут расценены как <b>вход</b> в сделку, а в шорт - соответственно <b>выход</b> из неё. <br>
				<b>Если 1Ч в шорте</b> - в приоритете будут сигналы с <b>5м в шор</b>т, тоесть сигналы в шорт - будут расценены как <b>вход</b> в сделку, а в лонг - соответственно <b>выход</b> из неё. <br><br>

				В результате мы получаем следующий рассчёт статистики: Основным фактором является линия баланса, если сигналы не соответствуют положению линии баланса - они игнорируются и мы не входим в сделку. Вторым фактором является 1Ч сигнал - он служит направлением торговли, если 1Ч сигнализирует о лонговом движении и цена находится над линией баланса (тоесть соответствует первому фактору) - в приоритете будут сигналы в лонг. Третим фактором является 5м сигнал - он служит точкой входа в сделку, если 1Ч сигнализирует о лонговом движении - сигналы в лонг с 5м будут расценены как вход в сделку, а сигналы в шорт - как выход из неё (тоесть закрытие). <br><br>

				Статистика учитывает <b>"теоретический"</b> заработок на <b>"идеальном"</b> входе по сигналам согласно ТС. Размер позиции на каждую сделку исчисляется в <b>10$ или 10% от депозита</b>, а торговое плечо - <b>x10</b>. Статистика учитывает начальный размер депозита и размер депозита после всех проведённых <b>"теоретических сделок"</b>. Статистика ведёт подсчёт прибыльных и убыточных сделок для определения % успешности стратегии.
			</p>
		</section>

		<br><hr><br>

		<section class="statictics">
			<h3>Статистика теоретической торговли:</h3>
			<br>
			<h3>Начальный депозит: <b>50$</b></h3>
			<h3>Торговое плечо: <b>x10</b></h3>
			<br>
			<h3>Депозит на данный момент: ХХХ</h3>
			<h3>Прибыль: ХХХ</h3>
			<h3>Прибыль в %: ХХХ%</h3>
			<br>
			<h3>Совершенно сделок: XXX</h3>
			<h3>Прибыльных сделок: ХХХ</h3>
			<h3>Убыточных сделок: ХХХ</h3>
			<h3>% Прибыльных сделок: ХХХ%</h3>
			<br>
			<h3>Направление торговли в данный момент (1Ч): ЛОНГ</h3>
			<h3>Последний сигнал (5м): ЛОНГ (СИСТЕМНЫЙ)</h3>
			<br>
			<h3>Текущая позиция: ЛОНГ</h3>
			<h3>Цена входа: ХХХ</h3>
			<h3>Время: ХХ:ХХ | xx.xx.xxxx</h3>
			<br>
			<br>
			<h3>Последняя позиция: ЛОНГ</h3>
			<h3>Цена входа: ХХХ</h3>
			<h3>Цена выхода: ХХХ</h3>
			<h3>Прибыль: ХХХ</h3>
			<h3>Прибыль в %: ХХХ%</h3>
			<h3>Время: ХХ:ХХ | xx.xx.xxxx</h3>
			<br>
			<h3>Сигнал для входа:</h3>
			<table>
				<tr>
					<th>ТИП</th>
					<th>СИГНАЛ</th>
					<th>ЦЕНА</th>
					<th>БАЛАНС</th>
					<th>МИН</th>
					<th>МАКС</th>
					<th>ДАТА</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<br><hr><br>

			<section class="signals_info">
			<h3>Список всех закрытых позиций:</h3>
			<table>
				<tr>
					<th>СИГНАЛ</th>
					<th>ЦЕНА ВХОДА</th>
					<th>ЦЕНА ВЫХОДА</th>
					<th>ПРИБЫЛЬ</th>
					<th>ПРИБЫЛЬ в %</th>
					<th>ДАТА</th>
				</tr>
				{% for signal in signals %}
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				{% endfor %}
			</table>
		</section>
		</section>
	</section>
</section>
<br><hr><br><br>
{% endblock %}

{% block js_includes %}{% endblock %}